{% extends 'railway/base_railway.html'%}
{% load rest_framework %}
 
	<h1>HI</h1>
 
{% block title %}
		
	Update NeighboursDistance
{% endblock %}


{% block content %}
<div class="features">
	<style>
		table {
 		 font-family: arial, sans-serif;
 		 border-collapse: collapse;
 		 width: 30%;
		}

		td, th {
  		border: 1px solid #dddddd;
  		text-align: left;
  		padding: 8px;
		}

		tr:nth-child(even) {
  		background-color: #dddddd;
		}
	</style>
	{{neighbours_distance.start}}
	{{neighbours_distance.finish}}
	<form action="{{neighbours_distance.get_update_url}}" method='post'>
		{% csrf_token %}
	 {%render_form serializer%}
	
	<div class="form-group">
<button type="submit" class="btn btn-primary">Сохранить</button>
	
	</div>
	
        </form>
{{s}}</br>

</div>
{% endblock %} 

<!--{flat.get_absolute_url}-->
