{% extends 'railway/base_railway.html'%}
{% load rest_framework %}
 
	<h1>HI</h1>
 
{% block title %}
		
	Update ticket
{% endblock %}


{% block content %}
<div class="features">
	<style>
		table {
 		 font-family: arial, sans-serif;
 		 border-collapse: collapse;
 		 width: 30%;
		}

		td, th {
  		border: 1px solid #dddddd;
  		text-align: left;
  		padding: 8px;
		}

		tr:nth-child(even) {
  		background-color: #dddddd;
		}
	</style>
	<form action="{{train.get_update_url}}" method='post' enctype="multipart/form-data">
		{% csrf_token %}

	<div class="form-group">
	Поезд: {{form.train}}</br>
	Пункт отбытия: {{form.start}}</br>
	Пункт назначения: {{form.finish}}</br>
	Дата поездки: {{form.date_start}}</br>
	Ранг: {{form.rank}}</br>
	Цена: {{form.price}}</br>
	
	

<button type="submit" class="btn btn-primary">Сохранить</button>
	
	</div>
	
        </form>
{{s}}</br>

</div>
{% endblock %} 

<!--{flat.get_absolute_url}-->
