{% extends 'railway/base_railway.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	TicketRank
{% endblock %}


{% block content %}
<div class="features">
	<div class="card" style="width: 50rem;background-color: #dddddd;color:#2c2c2c;">
 	 <div class="card-header">
		Пользователь-{{user}}
 	 </div>
	 Ранг: {{ticketrank.rank}}</br>	 
	 Описание: {{ticketrank.description}}</br>
	 
	 
	 
	
	</div>
{{s}}
	
{% if request.user.is_authenticated %}



<div class="obj-panel">
	<p>Выбрать</p>
	 {% block obj-panel%}
		<a class="btn btn-light" href="{{ticketrank.get_update_url}}">Редактировать</a>
		<a class="btn btn-danger" href="{{ticketrank.get_delete_url}}">Del</a>
		<a class="btn btn-light" href="{% url 'ticketranks_url'%}">Вернуться к списку</a>
	 {%endblock%}
	</div>
{% endif%}




<br>
{{s1}}
<br>

</div>

{% endblock %} 

<!-- -->

