{% extends 'railway/base_railway.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	Tickets
{% endblock %}


{% block content %}
<div class="features">
	<style>
		table {
 		 font-family: arial, sans-serif;
 		 border-collapse: collapse;
 		 width: 70%;
		
		}

		td, th {
  		border: 1px solid #dddddd;
  		text-align: left;
  		padding: 2px;
		heigth: 5px;
		}

		tr:nth-child(even) {
  		background-color: #dddddd;
		}
	</style>

	<table>
  		<tr>
		 <th style="width:2%">I</th>
		 <th style="width:50%">Поезд</th>
		 <th style="width:30%">Пункт отправления</th>
		 <th style="width:30%">Пункт прибытия</th>
		 <th style="width:30%">Дата отправления</th>
		 <th style="width:30%">Дата покупки</th>
		 <th style="width:30%">Ранг</th>
		 <th style="width:30%">Цена</th>


  		 </tr>
	
	
		
	{% for ticket in tickets%}
		<tr>
		
		  <td style="font-size:80%;" ><a href="{{ticket.get_absolute_url}}">I<a></td>
		  <td style="font-size:80%;" ><a href="">{{ticket.train}}<a></td>
		  <td style="font-size:80%;" >{{ticket.start}}</td>
		  <td style="font-size:80%;" >{{ticket.finish}}</td>
		  <td style="font-size:80%;" >{{ticket.date_start}}</td>
		  <td style="font-size:80%;" >{{ticket.date_bought}}</td>
		  <td style="font-size:80%;" >{{ticket.rank}}</td>
		  <td style="font-size:80%;" >{{ticket.price}}</td>
	
		</tr>
	{% endfor %}
	
	
	</table>
{{s}}
 <a class="btn btn-info" href="{% url 'ticket_create_front_url'%}" role="button">Новый билет</a>
 {% include "pagination.html" with page=tickets %}
</div>
{% endblock %} 

	        
<!---->
