{% extends 'order/base_order.html'%}
 
	<h1>HI</h1>
 
{% block title %}
		
	City
{% endblock %}


{% block content %}
<div class="features">
	<div class="card" style="width: 50rem;background-color: #dddddd;color:#2c2c2c;">
 	 <div class="card-header">
		Пользователь-{{user}}
 	 </div>
	 
  	 <a href="{{order.order.get_absolute_url}}">{{order.order}}</a></br>
 	 {{order.ticket}}</br>
	 {{order.price}}</br>	 
	 
	
	</div>
{{s}}
	
</div>

{% endblock %} 

<!--{% for fl in flat.items %}
		
		<h4>{{fl.label}}</h4>
		<p>{{fl}}</p>
	{% endfor %}
-->

